#about-section{
height: 100vh;
}

#about-container-bottom{
    position:relative;
    margin-top: 1rem; 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    margin-left: 22vh;
    z-index: 2;
      padding: 2px; /* important for border effect */
  background-size: 400%;
  transition: background-position 2s ease;
    
    
}
#about-container-top{
    z-index: 10;
    border-radius: 45px;
    height: 42.2rem;
    display: flex;
    flex-direction: row;
    opacity:0.9;

}
#intro-box{
    margin-top: 5rem;
    padding: 2rem;
    width:100rem ;
    line-height: 2em;
}
#astronaut-img{
    position: relative;
    margin-left:2vh;
    margin-top: 2vh;
    width: 100%;
    scale: 1.5;
    height: auto;
    border-radius: 50%;
}
.intro{
    padding-left: 6rem;
    color: #f8f0de;
    opacity: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    z-index: -1;
  
}
.intro#whoami{
    font-size: 2rem;
    color: #fffaa0;
    opacity: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    z-index: -1;
}

@media screen and (max-width: 768px) {

    .intro{
        padding-left: 1vh;      
        font-size: 0.8rem;
        color: #f8f0de;
        opacity: 100%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        z-index: -1;
    }
    .intro#whoami{
        font-size: 1.5rem;
        color: #ececec;
        opacity: 100%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        z-index: -1;
    }
    #about-container-top{
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        height:80vw;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
     
    #astronaut-img{

        width: 50%;
        height: auto;
    }
    #about-container-bottom{
        margin-left: 1vh;
        width: 100%;
        height: auto;
    }
    #intro-box{
        margin-top: 2rem;
        width: 90%;
        padding: 1rem;
        line-height: 1.5em;
    
        padding: 0 1rem;
    }
    #about-section {
        height: auto;
        padding: 2rem 0;
    }


    
}
@keyframes border-glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
