@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/baristha');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&display=swap');

*{
  scroll-behavior: smooth;
}
video{
    z-index: -2;
    object-fit:cover;
    scale:1;
}
#hero-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 1rem;
    margin-bottom: 1vw;
}

#hero-flexbox{
    position: absolute;
    height: 88vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 60vh;
    padding: 2em;
    z-index: 0;
}

#hero-text{
    margin-top: 1em;
    max-width: 100vw;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 90%;
    z-index: 0;
}
#heading{
    font-family: do-hyeon, sans-serif;
    font-weight: 3vh;
    font-size: 2vw;
    color: #ffffff;
    justify-self: center;
    padding: 0rem 2rem;
    z-index: 10;
}
#sub-heading{
    padding: 1rem 1rem;
    margin:0;
    font-family: do-hyeon, sans-serif;
    font-size: 1.5vw;
   justify-self: center;
    z-index: 10;
}

.name{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 12vw;
    color: #FFEBBF;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0;
    z-index: 10;

}


#bg{
    margin-top: 6em;
    align-items: center;
    justify-content: center;
    position: fixed;
   scale:1;
   border-radius: 10px;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    #hero-section{
        height: 60vh;
        overflow-x: hidden;
        margin-bottom: 5vw;
        margin-top: 40vh;
        margin-left: 0;
    }
    #hero-flexbox{
        flex-direction: column;
        height: 60vh;
        margin-top: 0;
        padding: 0;
        gap: 0;
    }
    #hero-text{
        margin-top: 0;
        padding: 0;
        font-size: 2vw;
        width: 60%;
    }
    #heading{
        font-size: 3vw;
        padding: 0;
    }
    #sub-heading{
        font-size: 2vw;
        padding: 0;
    }
    .name{
        font-size: 10vw;
        margin-left: 0;
    }
    #bg{
        margin-top: 40vw 50vw;
        padding: 0vw 5vw;
        height: 42vh;
        width: 62vh;
        object-fit: cover;
        border-radius: 10em;
        margin-top: -3vh;
    }
    #bg{
        position: fixed;
        scale: 1.2;
        z-index: -1;
    }
    body{
        padding-left: 1rem;
    }
    
}