#nav{
    z-index:100;
}
.nav-container{
    margin-top:5rem;
    margin-left: 1em;
    padding: 1.5rem;

    border-style: solid; 
    border-radius:10px;
    height: 60%;
    width: 50px;
    position: fixed;
    left: 0;
    backdrop-filter: blur(10px);

  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    z-index: 100;
 
   
    
}
#nav-bar{
   
    padding-top: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap:nowrap;
   justify-items: center;
   justify-content:space-between;
   column-gap: 20px;
   position:relative;
 
  
}

#part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    gap: 2.2em;
}


a{
 
    text-decoration: none;
    color: #c5c3d0;
    font-size: 0.9rem;
    font-family: poppins;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    scroll-margin-top: 70px;
    align-items: center;
}
#contact-button{
    align-content:baseline;
    background-color: #1a45c8;
    padding: 5px;
    border-radius: 5px;
    z-index: -1;
 }


@media screen and (max-width: 768px) {
    .nav-container{
        margin-top: 1.5em;
        margin-bottom: 1em;
        margin-left: 4em;
        padding-bottom: 0.1rem;
        padding-top: 0;
        border-style: solid; 
        border-radius:10px;
        width: 70%;
        height: 5rem;
        position: fixed;
        top: 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }
    #part2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.2em;
}
a{
    font-size: 0.6rem;
}
 

}
