
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/baristha');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&display=swap');
#projects-section{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-left: 5em;
    padding: 2rem;
}

.projects-intro{
    font-family : Do Hyeon, sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #f6e2a7;
    text-align: center;
    margin-bottom: 1rem;    
}

@media screen and (max-width: 768px) {
    .projects-intro {
        font-size: 3vh;
    }
    #projects-section {
        margin-left: 1rem;
        padding: 1rem;
    }
    .project-card {
        width: 90%;
        margin: 1rem auto;
    }
    .project-number {
        font-size: 2rem;
    }
}