/* img{
    height:20px;
}
.card{
    display: flex;

    flex-shrink: inherit;
    height: 3em;
    width: 50%;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s;

} */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.project-card {

    width: 50em;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.project-number {
  font-size: 3rem;
  font-weight: bold;
  color: #aaa;
}

.project-content {
  background: linear-gradient(to top, #000000, #181818, #494949);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  opacity: 0.8;
  width: 100%;
  color: #fff;
  box-shadow: 0 4px 8px rgba(86, 86, 86, 0.2);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
    font-family:do-hyeon, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;

}

.project-description {
  margin-top: 0.5rem;
opacity: 0.6;
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.4;
  transition: all 2s ease-out;

}

.project-links {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}

.btn {
  background: #fff;
  color: #000;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.85rem;
  text-decoration: none;
}

.btn:hover {
  background: #ddd;
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    width: 90vw;
    flex-shrink: 0;
  }
  .project-content {
    width: 70%;
  }

  .project-title {
    font-size: 2vw;
  }

  .project-description {
    font-size: 0.6rem;
  }
}
