@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.skillsintro{
    font-family: do-hyeon, sans-serif;
    color: #ffffff;
    font-weight :500;
    padding-top: 3em;
    margin-bottom: 1rem;
    font-size: 50px;
    text-align: center;
}

.statement{
   font-family: do-hyeon, sans-serif;
    color: #7c7c7c;
    font-weight :200;
    padding-top: 3em;
    margin-bottom: 3rem;
    font-size: 20px;
    text-align: center;

}

.skills-section{
    height: 60vh;
    background:none;
    padding: 3em 0;
    font-size: 20px;
    text-align: center;
}

.container {
    background:none;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-gap: 1em ;
    padding: 2rem 30rem;
    align-items: center;
}

.box img{
  justify-self: center;
  border-radius: 8px;
  padding: 1rem;
  width: 50px;
  height: 50px;
}

.img:hover{
  transform: scale(1.4);
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 2rem 6rem;
        grid-template-columns: repeat(6, minmax(0.5vh, 0.5fr));
        grid-template-rows: repeat(2, minmax(0.5vh, 1fr));
    }
    .skillsintro{
        font-size: 3vh;
    }
    .skillssection{
        height: auto;
    }
    .box img{
        width: 5vw;
        height: 5vw;
    };
    body{
      padding-left: 1rem;
      padding-right: 2rem;
    }
}