*{
  scroll-behavior: smooth;

}

body{
  height: 100%;
  width: 100%;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to right, #0d0d0d, #0e0e0e);
  overflow-x: hidden;
padding-left: 5vw;

}

h1{
  font-family: do-hyeon, sans-serif;
  font-weight: 600;
  color: #f6e2a7;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}